.text {
  color: var(--font-color);
}

.text-intial-move {
  animation: spotlight-move 1.5s linear;
}

.text:hover {
  color: var(--font-color-hover);
}

@keyframes spotlight-move {
  0% {
    color: var(--font-color-hover);
    background-position: 0 50%;
  }
  90% {
    background-position: calc(100% + var(--spotlight-size)) 50%;
  }
  100% {
    color: var(--font-color);
    background-position: calc(100% + var(--spotlight-size)) 50%;
  }
}
